@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}
body {background-color: cornflowerblue;}

#tab_menu {width: 500px; margin: 100px auto; background-color: gold; position: relative; border-radius: 10px 10px 0 0;}

#tab_menu ul {overflow: hidden;}
#tab_menu ul li {width: 100px; text-align: center; float: left;}
#tab_menu ul li a {color: black; display: block; padding: 15px 20px;}
#tab_menu ul li.active a {border-bottom: 3px solid teal;}

#tab_menu ul li div {position: absolute; left: 0; top: 54px; background-color: white; text-align: left; padding: 30px; box-sizing: border-box; border-radius: 0 0 10px 10px;}
