@charset "utf-8";


* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}


nav {width: 100%; background-color: #333; padding: 80px; box-sizing: border-box; position: fixed; left: 0; top: 0; z-index: 9999; display: none;}

.main_menu {display: flex; justify-content: space-between;
    counter-reset: list-number;
    /* 부모요소에 카운터를 할 환경을 만들어주는 CSS 속성
    list-number 또는 list-number 0 으로 값을 초기화 해줌
    list-number는 변수명(지어서 넣어주면 된다) */
}
.main_menu>li {width: 24%;}
.main_menu>li>a {display: block; color: #fff; font-size: 30px; font-weight: bold; margin-bottom: 10px;
    position: relative;
    top: -50px;
    opacity: 0;
    animation-name: delay_menu;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    /* animation-fill-mode:
    forwards : 애니메이션이 키프레임의 100%에 도달했을 때 마지막 키프레임을 유지
    backwards : 애니메이션의 스타일을 애니메이션이 실제로 시작되지 전에 미리 적용
    none : 아무것도 지정되지 않은 상태(기본값)
    both : forwards, backwards 둘 다 적용

    */
}
.main_menu>li>a:hover {color: gold;}

.main_menu>li::before {display: block; color: #fff; border-bottom: 1px solid #555; padding-bottom: 10px; margin-bottom: 10px; font-size: 20px;
    counter-increment: list-number;
    content: "0" counter(list-number);
    /* list-number의 카운터 값을 1씩 증가 */
}
/* .nav_01::before {content: "01";}
.nav_02::before {content: "02";}
.nav_03::before {content: "03";}
.nav_04::before {content: "04";} */

.sub_menu>li>a {width: 100%; display: block; padding: 10px 0; color: #ccc;
    position: relative;
    opacity: 0;
    /* top: -50px; */
    animation-name: delay_menu;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
.sub_menu>li>a:hover {color: goldenrod;}

.sub_menu>li:first-child>a {
    top: -100px;
    animation-delay: .7s;}
.sub_menu>li:nth-child(2)>a {
    top: -80px;
    animation-delay: .9s;}
.sub_menu>li:nth-child(3)>a {
    top: -60px;
    animation-delay: 1.1s;}
.sub_menu>li:nth-child(4)>a {
    top: -40px;
    animation-delay: 1.3s;}
.sub_menu>li:nth-child(5)>a {
    top: -20px;
    animation-delay: 1.5s;}



@keyframes delay_menu {
    100% {top: 0; opacity: 1;}
}


/* 햄버거 토글 버튼 */
.menu_icon {position: absolute; top: 30px; right: 30px; z-index: 10000; background-color: transparent; cursor: pointer;}
.menu_icon span {width: 34px; height: 2px; background-color: #000; display: block; margin: 10px 0; transition: .5s;}
.change .bar1 {transform: rotate(-45deg) translate(-8px,8px); background-color: #fff;}
.change .bar2 {opacity: 0;}
.change .bar3 {transform: rotate(45deg) translate(-9px,-9px); background-color: #fff;}