@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}

#container {width: 600px; height: 400px; margin: 100px auto; border: 10px solid red;
    position: relative;
    /* overflow: hidden; */
}
#wrap {width: 100%;}
/* #wrap ul {display: flex;} */
#wrap ul li {width: 600px;
    /* float: left; */
    position: absolute; left: 0; top: 0;
}
#wrap ul li img {width: 100%; vertical-align: top;}

.btn {position: absolute; top: 50%; transform: translateY(-50%); width: 40px; height: 40px; background-color: #000; color: #fff; font-size: 20px; font-weight: bold; cursor: pointer; z-index: 10;}
#prev {left: 0;}
#next {right: 0;}