@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}


/* 슬라이더 */
.slider_wrap {width: 800px; height: 600px; margin: 100px auto; position: relative; overflow: hidden;}
.slider {width: 100%; height: 100%; position: absolute;}
.slider ul li {width: 100%; height: 100%; position: absolute;}
.slider ul li img {width: 100%; height: 100%; object-fit: cover;}

/* 이전, 다음 버튼 */
.btn {width: 40px; height: 40px; background-color: rgba(0,0,0,.5); color: #fff; position: absolute; top: 50%; margin-top: -20px; cursor: pointer; font-size: 20px; z-index: 100;}
.prev {left: 0;}
.next {right: 0;}
.btn:hover {background: rgba(0,0,0,.8);}
.disabled {display: none;}

/* 인디케이터(슬라이드 버튼, 페이징, 페이저..) */
/* 도트 인디케이터로 사용시 */
/* .indicator {width: 100%; position: absolute; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 100; padding: 15px 0;}
.indicator ul {display: flex; justify-content: center;}
.indicator ul li {width: 12px; height: 12px; background-color: #fff; border-radius: 6px; margin: 0 4px; cursor: pointer; opacity: .5; box-shadow: 0 0 10px rgba(0,0,0,.5); transition: .5s;}
.indicator ul li.active {width: 30px; opacity: 1;} */

/* 썸네일 인디케이터로 사용시 */
.indicator {width: 100%; height: 40px; position: absolute; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 100; padding: 15px 0;}
.indicator ul {display: flex; justify-content: center;}
.indicator ul li {width: 40px; height: 40px; margin: 0 4px; cursor: pointer; opacity: .5; box-shadow: 0 0 10px rgba(0,0,0,.5); transition: .5s;}
.indicator ul li img {width: 100%; height: 100%; object-fit: cover;}
.indicator ul li.active {opacity: 1;}



/* 재생, 일시정지 버튼 */
.playbtn {width: 50px; height: 20px; position: absolute; right: 0; top: 0;}
.play, .pause {width: 20px; height: 20px; background-color: rgba(0,0,0,.5); color: #fff; cursor: pointer;}


/* 캡션 */
.caption {width: 100%; padding: 10px 0; background-color: rgba(0,0,0,.5); color: #fff; position: absolute; left: 0; 
    /* bottom: 42px; */
    bottom: 70px;
    text-align: center;}